@use "../utils/variables" as var;
@use "../global";
@use "../utils/mixins" as mini;

@mixin dish($bb) {
  border: $bb;
  background-color: var(--text-color);
  @include mini.df(center, center, column);
  padding: 30px;
  border-radius: 14px;
  img {
    width: 100%;
    padding-bottom: 10px;
  }
  h4 {
    @include mini.title(600, 18px, 25px, 0);
    text-align: center;
    color: var(--p-black);
    padding-bottom: 20px;
    text-transform: none;
    
  }
  h5 {
    padding-top: 10px;
    padding-bottom: 20px;
    @include mini.title(700, 24px, 33px, 0);
    color: var(--bgColor-red);
  }
}

.menu_container {
  padding-top: 70px;
  @include mini.dg(0.5fr 1fr, 35px);
  align-items: flex-start;

  .ap-tab {
    background-color: var(--bgColor-red);
    border-radius: 20px;
    padding: 50px 40px;

    h1 {
      font-family: "Cera Round Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 54px;
      text-transform: capitalize;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #ffffff;
      padding-bottom: 40px;
      
    }
    .ap-tab-list {
      @include mini.df(none, none, column);
      gap: 30px;
      .ap-tab-link {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 100px;
        padding: 10px 30px;
      }
    }
  }
  .ap-tab-container {
    .ap-tab-content.active-tab {
      display: grid !important;
      @include mini.dg(repeat(2, 1fr), 35px);
      row-gap: 30px;
    }
    .item_content {
      @include dish(1px solid rgba(36, 36, 36, 0.1));
    }
    .item_content:hover{
        padding: 50px;
        h4, h5{
            font-size: larger;
        }
        
    }
  }
}



